[Unit]
Description=Touchscreen wired with UART adapter to moonraker websocket
After=klipper.service
Wants=klipper.service

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
User=pi
RemainAfterExit=yes
WorkingDirectory=/home/pi/tft-klipper-adapter
ExecStart=/home/pi/klippy-env/bin/python tftadapter.py -t /dev/ttyS2 -l /home/pi/printer_data/logs/tftadapter.log
SyslogIdentifier=tft_adapter
Restart=always
RestartSec=15

# sudo ln -s /home/pi/tft-klipper-adapter/tft-klipper-adapter.service /etc/systemd/system/tft-klipper-adapter.service
